[submodule "movie-analyst-api"]
	path = movie-analyst-api
	url = https://github.com/andresbelo12/movie-analyst-api
[submodule "movie-analyst-ui"]
	path = movie-analyst-ui
	url = https://github.com/andresbelo12/movie-analyst-ui
[submodule "ramp_up_iac"]
	path = ramp_up_iac
	url = https://github.com/andresbelo12/ramp_up_iac.git
[submodule "ramp_up_cm"]
	path = ramp_up_cm
	url = https://github.com/andresbelo12/ramp_up_cm.git
